/* CLEAN THIS MESS */

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background: #EEE;
    text-align: center;
    color: #555;
}

.app-title {
    margin: 50px 0;
}

.item {
    display: block;
    width: 480px;
    padding: 0;
    margin: 35px auto;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    text-align: left;
    line-height: 1em;
    background: #FFF;
}

.item .header {
    display: block;
    padding: 0;
    margin:  35px 0 0 25px;
}

.item .description {
    font-size: 14px;
    margin:  8px 25px;
    color: #656565;
}

.item .footer {
    text-align: right;
    display: block;
    background: #FAFAFA;
    padding: 10px 25px;
    margin-top: 35px;
    border-top: 1px solid #DDD;
}

.item .title,
.item .version{
    margin:0;
    padding: 0;
    display: inline-block;
}

.item .version{
    margin: 0 10px;
    color: #757575;

}

.button {
    font-size:12px;
    font-weight: bold;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 25px;
    padding: 5px 20px;
    display: inline-block;
    text-decoration: none;
    color: #252525;
    text-align:  right;
}

.button:hover {
    background: #CCC;
}

.palette {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 15px;
    vertical-align: top;
}

.palette .color{
    display: inline-block;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #EEE;
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}

.palette .color:nth-child(1){
    background: var(--Button-hover);
}

.palette .color:nth-child(2){
    background: var(--Main-color);
}

.palette .color:nth-child(3){
    background: var(--Button-active);
}

.palette .color:nth-child(4){
    background: var(--Bg-color);
}
