/* CLEAN THIS MESS */

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background: #EEE;
    text-align: center;
    color: #555;
}

.app-title {
    margin: 50px 0;
}

.item {
    display: block;
    padding: 25px;
    max-width: 500px;
    min-width: 380px;
    margin: 25px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    text-align: left;
    line-height: 1em;
    background: #FFF;
}

.item .header {
    display: block;
    padding:20px 0;
}

.item .description {
    font-size: 1em;
    margin-top:25px 0;
}

.item .footer {
    text-align: right;
    display: block;
}

.item .title,
.item .version{
    margin:0;
    display: inline-block;
}

.item .version{
    margin: 0 10px;
    color: #757575;

}

.button {
    background: #DDD;
    border-radius: 5px;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    color: #252525;
    text-align:  right;
}

.palette {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 25px;
}

.palette .color{
    display: inline-block;
    width: 75px;
    height: 15px;
    margin: 0;
    background: #EEE;
    border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}

.palette .color:nth-child(1){
    background: var(--Main-color);
}

.palette .color:nth-child(2){
    background: var(--Button-active);
}

.palette .color:nth-child(3){
    background: var(--Bg-color);
}
