.page section{
margin-top: 100px;
}

.page h2{
margin: 35px auto;
}

.items{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    margin: 10px auto;
    padding: 0;
}
