.item {
    display: inline-block;
    width: 350px;
    padding: 0;
    margin: 15px;
    border:1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.075);
    text-align: left;
    line-height: 1em;
    background: #FFF;
    font-family: Arial, sans-serif;
}

/* Content */

.item .data {
    display: block;
    padding: 0;
    margin:  45px 0 0 25px;
}

.item .name,
.item .version{
    margin:0;
    padding: 0;
    display: inline-block;
}

.item .name{
    text-decoration: none;
    color: inherit;
}

.item .name:hover{
    text-decoration: underline;
}

.item .version{
    margin: 0 10px;
    color: #757575;
}

/* description */

.item .description {
    font-size: 14px;
    margin:  8px 25px;
    color: #656565;
}

/* Footer */

.item .footer {
    text-align: right;
    display: flex;
    background: #FAFAFA;
    padding: 10px 25px;
    margin-top: 45px;
    border-top: 1px solid #DDD;
    border-radius: 0px 0px 5px 5px;
    align-items: center;
    justify-content: space-between;
}

.item .footer .user {
    text-decoration: none;
    color:  #1e88e5;
}

.item .footer .user:hover {
    text-decoration: underline;
}

.button {
    font-size:12px;
    font-weight: bold;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 25px;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    color: #252525;
    text-align:  right;
    cursor: pointer;
}

.button:hover {
    background: #CCC;
}
