/* CLEAN THIS MESS */
html,
body{
    margin: 0;
}
body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background: #FFF;
    text-align: center;
    color: #555;
}

nav {
    width: 100%;
    margin:0;
    padding:12px 0;
    background: #FAFAFA;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    border-bottom: 1px solid #DDD;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav * {
    display: inline-block;
    vertical-align: middle;
}

nav  ul{
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    margin-right: 45px;
}
nav ul a{ margin:0 10px;}

nav .ver {
    color: #AAA;
    margin: 0 5px;
    font-size:14px;
}

footer {
    margin: 0;
    margin: 75px 0 45px 0;
}

.app-title{
    font-size: 18px;
    margin: 0;
    padding:0;
    margin-left: 45px;
}

.app-title h3 {
    margin: 0;
    padding: 0;
}
#root {
    margin: auto;
}

#root .title{
    margin: 125px 0 45px 0;
}

.search {
    border: 1px solid #DDD;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    outline: none;
    padding: 10px 25px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 45px;
    border-radius: 5px;
}
.items{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.item {
    display: inline-block;
    width: 350px;
    padding: 0;
    margin: 15px;
    border:1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.075);
    text-align: left;
    line-height: 1em;
    background: #FFF;
    animation-name: create;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.item .header {
    display: block;
    padding: 0;
    margin:  45px 0 0 25px;
}

.item .description {
    font-size: 14px;
    margin:  8px 25px;
    color: #656565;
}

.item .footer {
    text-align: right;
    display: flex;

    padding: 10px 25px;
    margin-top: 45px;
    border-top: 1px solid #DDD;
    align-items: center;
    justify-content: space-between;
}

.item .footer .user {
    text-decoration: none;
    color:  #1e88e5;
}

.item .footer .user:hover {
    text-decoration: underline;
}

.item .name,
.item .version{
    margin:0;
    padding: 0;
    display: inline-block;
}

.item .version{
    margin: 0 10px;
    color: #757575;

}

.button {
    font-size:12px;
    font-weight: bold;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 25px;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    color: #252525;
    text-align:  right;
    cursor: pointer;
}

.button:hover {
    background: #CCC;
}

.palette {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 35px;
    max-width: 100%;
    height: 35px;
    vertical-align: top;
    background: #CCC;
    border-radius: 5px;
    overflow: hidden;
}

.palette .color{
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.25);
    transition: background 0.2s ease;
}

.palette .color:nth-child(1){
    background: var(--Button-hover);
}

.palette .color:nth-child(2){
    background: var(--Button-active);
}

.palette .color:nth-child(3){
    background: var(--Main-color);
}

.palette .color:nth-child(4){
    background: var(--Bg-color);
}

.palette .color:nth-child(5){
    background: var(--Nav-color);
}

@keyframes create {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
